@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Vollkorn:400,400i,600,600i,700,700i&display=swap&subset=cyrillic');

* {
	font-family: 'Vollkorn';
}

.heading {
	font-family: 'Merriweather';
	font-size: 50px;
	font-weight: 600;
}


body {
	background-color: #c9e9ff;
	background-clip: border-box;
}

address {
	color: red;
}

a {
	text-decoration: none;
	color: black;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

table {
	width: 100%;  
	border-spacing: 5px;
}

td {
	padding: 5px;
	width: 300px;
	vertical-align: text-top;
}

.order__img {
	box-sizing: content-box;
	width: 200px;
	height: 200px;
	float: right;
	margin: 10px 10px 10px 10px;
}

.photo__img {
	box-sizing: content-box;
	position: flex;
	width: 350px;
	height: 400px;
}

figcaption {
	font-size: 13px;
	font-weight: bold;
	color: crimson;
}

.article__lead {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.article__text {
	text-align: justify;
	line-height: 2.0;
	font-size: 20px;
}